{% macro place_article(article) %}
  {% include ["_articles/#{ article.template }.html.twig", "_articles/article.html.twig"] with { 'article': article } %}
  {% for child in article.collection %}
    {{ _self.place_article(child) }}
  {% endfor %}
{% endmacro -%}
<!DOCTYPE html>
<html lang="en">
<!-- params: {{ grav.uri.params() }} -->
<!-- query: {{ grav.uri.query() }} -->

{% include 'book-head.html.twig' %}

  <body class="{% block body_template_classes %}book {% endblock body_template_classes %}{% if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}">

    {{ _self.place_article(page.find('/elements')) }}
    
    {% block bottom %}
    {{- assets.js('bottom') -}}
    {% endblock %}

  </body>
</html>

